
<h1>Let's Plant</h1>



<p>
  <% @plants.each do |plant| %>
      <%= cl_image_tag plant.photo_url %>
      <%= plant.name.capitalize %>
      <%= plant.description %>
      <%= plant.price %>
      <%= plant.plant_date %>
      <%= plant.harvest_date %>
  <% end %>
</p>

