

<div class="banner-index">
  <div class="container-index">
    <h1><strong>Let's Plant</strong></h1>
    <p> Here is a list of fruits and vegetables,
        take a look in their description,
        If it's allright with you,
        Add them to your garden.
        And, <strong>Lets'plant </strong>
    </p>
  </div>
  <div class="container-carousel my-4">
    <hr class="my-4">
    <div id="multi-item" class="carousel slide carousel-multi-item" data-ride="carousel">
      <div class="controls-top">
        <a class="btn-floating" href="#multi-item" data-slide="prev"><i class="fas fa-angle-left"></i></a>
        <a class="btn-floating" href="#multi-item" data-slide="next"><i class="fas fa-angle-right"></i></a>
      </div>
      <ol class="carousel-indicators">
        <li data-target="#multi-item" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item" data-slide-to="1"></li>
        <li data-target="#multi-item" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-md-4">
              <%= link_to plant_path(Plant.find(1)), {class: "card-over"} do %>
              <div class="card-category-index" style="background-image: url('<%= cl_image_path Plant.first.logo_url %>')">
                <%= Plant.first.name %>
              </div>
              <% end %>
            </div>
            <%= link_to plant_path(Plant.find(2)), {class: "card-over"} do %>
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card-category-index" style="background-image: url('<%= cl_image_path Plant.second.logo_url %>')">
                <%= Plant.second.name %>
              </div>
              <% end %>
            </div>
            <%= link_to plant_path(Plant.find(12)), {class: "card-over"} do %>
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card-category-index" style="background-image: url('<%= cl_image_path Plant.find(12).logo_url %>')">
                <%= Plant.find(12).name %>
              </div>
              <% end %>
            </div>
            <%= link_to plant_path(Plant.find(4)), {class: "card-over"} do %>
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card-category-index" style="background-image: url('<%= cl_image_path Plant.fourth.logo_url %>')">
                <%= Plant.fourth.name %>
              </div>
              <% end %>
            </div>
            <%= link_to plant_path(Plant.find(5)), {class: "card-over"} do %>
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card-category-index" style="background-image: url('<%= cl_image_path Plant.fifth.logo_url %>')">
                <%= Plant.fifth.name %>
              </div>
              <% end %>
            </div>
            <%= link_to plant_path(Plant.find(14)), {class: "card-over"} do %>
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card-category-index" style="background-image: url('<%= cl_image_path Plant.find(14).logo_url %>')">
                <%= Plant.find(14).name %>
              </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <%= link_to plant_path(Plant.find(6)), {class: "card-over"} do %>
            <div class="col-md-4">
              <div class="card-category-index" style="background-image: url('<%= cl_image_path Plant.find(6).logo_url %>')">
                <%= Plant.find(6).name %>
              </div>
              <% end %>
            </div>
            <%= link_to plant_path(Plant.find(7)), {class: "card-over"} do %>
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card-category-index" style="background-image: url('<%= cl_image_path Plant.find(7).logo_url %>')">
                <%= Plant.find(7).name %>
              </div>
              <% end %>
            </div>
            <%= link_to plant_path(Plant.find(8)), {class: "card-over"} do %>
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card-category-index" style="background-image: url('<%= cl_image_path Plant.find(8).logo_url %>')">
                <%= Plant.find(8).name %>
              </div>
              <% end %>
            </div>
            <%= link_to plant_path(Plant.find(9)), {class: "card-over"} do %>
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card-category-index" style="background-image: url('<%= cl_image_path Plant.find(9).logo_url %>')">
                <%= Plant.find(9).name %>
              </div>
              <% end %>
            </div>
            <%= link_to plant_path(Plant.find(13)), {class: "card-over"} do %>
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card-category-index" style="background-image: url('<%= cl_image_path Plant.find(13).logo_url %>')">
                <%= Plant.find(13).name %>
              </div>
              <% end %>
            </div>
            <%= link_to plant_path(Plant.find(11)), {class: "card-over"} do %>
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card-category-index" style="background-image: url('<%= cl_image_path Plant.find(11).logo_url %>')">
                <%= Plant.find(11).name %>
              </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="carousel-item">
            <div class="row">
            <%= link_to plant_path(Plant.find(10)), {class: "card-over"} do %>
            <div class="col-md-4">
              <div class="card-category-index" style="background-image: url('<%= cl_image_path Plant.find(10).logo_url %>')">
                <%= Plant.find(10).name %>
              </div>
              <% end %>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





