<div class="img_cover">
    <div class="container3">


      <div class= "information_plant">
        <h2>Add <%= @plant.name %> to your garden</h2>
        <p><i class="fas fa-leaf"></i> : <%= @plant.plant_date %></p>
        <p><i class="far fa-calendar-check"></i> : <%= @plant.harvest_date %></p>
        <%= link_to plant_garden_plants_path(@plant), method: :post,class: "obtn" do %>

          Add to garden
        <% end %>
      </div>

      <div class="image_show" style="background-image: url(<%= cl_image_path @plant.logo_url %>)">
      </div>
    </div>

    <div class="plant_description">
      <h4> <%=  @plant.name%> </h4>
      <p><i class="fas fa-info"></i> <%= @plant.description %></p>
      <p><i class="fas fa-seedling"></i> <%= @plant.description_details %></p>
    </div>
</div>



