<div class="img_cover">
  <div class="title_show">
   <h2><%= @plant.name %></h2>
  </div>
    <div class="container3">

      <div class= "information_plant">

        <p> Best to plant in:
          <table>
            <tr>
             <% @months.each do |month| %>
                <td class="<%= 'colored' if @plant.plant_date[month] %>"><%= month %></td>
              <% end %>
            </tr>
          </table>
        </p>
        <p> Harvest in :
          <table>
            <tr>
             <% @months.each do |month| %>
                <td class="<%= 'colored' if @plant.harvest_date[month] %>"><%= month %></td>
              <% end %>
            </tr>
          </table>
        </p>

      </div>
      <div>
        <div class="image_show" style="background-image: url(<%= cl_image_path @plant.logo_url %>)">
        </div>

        <%= link_to plant_garden_plants_path(@plant), method: :post,class: "obtn" do %>

          Add to my to get personalized info
        <% end %>
      </div>
    </div>

    <div class="plant_description">
      <p>General info:</p>
       <p> <%= @plant.description %></p>
       <p>Sowing information:</p>
        <p><%= @plant.description_details %></p>
    </div>
</div>



