
  <img class="img_cover" src="<%= cl_image_path @plant.photo_url %>" alt="">



    <div class="container-details">

      <h2><%= @plant.name.capitalize %></h2>
      <p><%= @plant.description %></p>

    </div>

    <div class="box">

      <p>Time to plant: <%= @plant.plant_date %></p>
      <p>Time to harvest: <%= @plant.harvest_date %></p>
      <%= link_to "Add to garden", plant_garden_plants_path(@plant), method: :post %>

    </div>



