<div class="containerhome">
  <div class="grass">

  <h1> <%= current_user.username.capitalize %>'s Garden <%= image_tag "maybelogo.png", alt: "carrot", width: 100 %></h1>


  <div class="buttton">
    <%= link_to user_tasks_path, {class: "obbtn"} do %>
               Check your tasks (<%= user_tasks_count %>)
        <% end %>
    <%= link_to plants_path, {class: "obbtn"} do %>
               Choose another plant
        <% end %>
  </div>

<div class="garden">
  <% @garden_plants.each do |garden_plant| %>
    <div class="plot">
      <div class="logo" style="background-image: url('<%= cl_image_path garden_plant.plant.logo_url %>')" data-garden_plant-id="<%= garden_plant.id %>">
        <%= link_to garden_plant, method: :delete, remote: true do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  <% end %>

  <% @number_of_plots.times do  %>
    <div class="plot"></div>
  <% end %>
  </div>
  </div>
</div>

